@import "tailwindcss";
@layer base {
  body {
    @apply bg-[#1A1A1A];
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
  -webkit-text-fill-color: white !important;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 100%;
  animation: gradient-x 3s linear infinite;
}
